:root {
  --doodle-circle: (
    :doodle {
      @size: 100%;
      opacity: .05;
      right: 0; top: 0;
      background-blend-mode: color-burn;
      background: @multi(50, (
        radial-gradient(currentColor 50%, transparent 50%)
          @r(-10%, 110%) @r(-10%, 110%) / @r(50px) @lr()
          no-repeat
      ));
    }
  );

  --doodle-line2: (
    :doodle {
      @size: 100%;
      top: 0; left: 0;
      background-blend-mode: overlay;
      opacity: .05;
      background: @multi(100, (
        linear-gradient(90deg, currentColor, currentColor)
        @r(0, 100%, .1) 0 / @r(4px) @r(80%)
        no-repeat
      ));
    }
  );


  --doodle-triangle2: (
    :doodle {
      @size: 100%;
      right: 0; top: 0;
      opacity: .05;
      background-blend-mode: color-burn;
      background: @multi(80, (
        conic-gradient(
          from 145deg,
          currentColor 0, currentColor 20%, transparent 20%
        )
        @r(0%, 100%, .1) 100% / @r(80px) @lr()
        no-repeat
      ));
    }
  );

  --doodle-tag: (
    :doodle {
      @grid: 1x2 / 20em 10em;
      right: -2em; top: -2.4em;
      opacity: .05;
    }
    background:
      conic-gradient(
        from -45deg,
        currentColor 25%, currentColor 50%,
        transparent 50%, transparent 75%,
        currentColor 75%
      )
      50% 120% / 30% 80%
      no-repeat;

    @nth(1) {
      transform: translateX(70%);
    }
    @nth(2) {
      transform: scale(.5) translateY(-27%);
    }
  );
}
