html, body, main, h1, pre, code, figure, p {
  margin: 0;
  padding: 0;
}

body {
  background: #eaf0f5;
  padding: 7em 5em 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family:  /* songti */
    Georgia,
    "Nimbus Roman No9 L",
    "Songti SC", STSong,
    "AR PL New Sung", "AR PL SungtiL GB",
    NSimSun,
    SimSun,
    "TW\-Sung",
    "WenQuanYi Bitmap Song",
    "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE",
    PMingLiU,
    MingLiU,
    serif;
}

main {
  max-width: 55em;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  color: #4B4E68;
}

header {
  margin-bottom: 4em;
}

header p {
  margin-top: .5em;
  font-size: 1.4em;
  color: rgba(75, 78, 104, 0.6196078431372549);
}

.preview {
  background-color: #fff;
  padding: 1em;
  margin-bottom: auto;
  margin-right: 1em;
}

.info {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

@supports not (background: conic-gradient(#fff, #fff)) {
  [data-type="conic"] .info {
    display: block;
  }
  .info-handle {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    height: 1em;
    width: 1em;
    font-size: 1em;
    background: rgba(255, 139, 35, 0.12);
    color: rgb(255, 127, 7);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-content {
    display: none;
    position: absolute;
    top: 1.5em;
    left: 0;
    width: 12.5em;
    font-size: .8em;
    z-index: 3;
    background: #fff;
    color: #fe9129;
    padding: .5em;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .06)
  }

  .info-handle:hover ~ .info-content,
  .info-handle:active ~ .info-content {
    display: block;
  }

  .preview {
    background-repeat: no-repeat;
    background-position: 0  center;
    background-size: auto 100%;
    position: relative;
  }

  [data-name="triangle2"] .preview {
    background-image: url(images/triangle2.png);
  }

  [data-name="trapezoid"] .preview {
    background-image: url(images/trapezoid.png);
  }

  [data-name="tag"] .preview {
    background-image: url(images/tag.png);
  }

  [data-name="spaceship"] .preview {
    background-image: url(images/spaceship.png);
  }

  [data-name="sandglass"] .preview {
    background-image: url(images/sandglass.png);
  }

  [data-name="tie"] .preview {
    background-image: url(images/tie.png);
  }
}

.shape {
  display: flex;
  margin-bottom: 1em;
}

.graph {
  width: 9em;
  height: 9em;
  color: #4B4E68;
  mix-blend-mode: darken;
}

.code {
  flex: 1;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 1em;
  position: relative;
  overflow: hidden;
}

.code css-doodle {
  position: absolute;
  z-index: 1;
  color: #4B4E66;
}

.code figure {
  z-index: 2;
  position: relative;
  overflow: auto;
}

.code pre {
  font: 1.2em/1.4 Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  overflow: auto;
  padding: 1em;
}

.code code.language-css {
  position: relative;
  top: -1em;
}

.code code.language-css span:nth-child(1),
.code code.language-css span:nth-child(2),
.code code.language-css span:last-child {
  display: none;
}

footer {
  padding: 6em 0 3em;
  color: rgba(75, 78, 104, 0.3);
  text-align: center;
}

footer a {
  color: rgba(75, 78, 104, 0.6);
}

footer a:hover {
  background: #4B4E68;
  color: #fff;
}

@media screen and (max-width: 50em) {
  body {
    padding: 3em 1em 0;
  }
  .info {
    left: 9em;
    top: 1em;
  }
  .graph {
    background-color: rgba(234, 240, 244, 0.38823529411764707) !important;
  }
  .shape {
    flex-direction: column;
  }
  .preview {
    margin-right: 0;
  }
  .code pre {
    padding: 0;
  }
  .code css-doodle {
    display: none;
  }
}
